alabaster==0.7.6
Babel==2.0
behave==1.2.5
behave-django==0.2.3
boto==2.36.0
captcha==0.2
defusedxml==0.4.1
Django==1.9b1
django-braces==1.8.1
django-countries==3.4.1
django-ipware==1.1.2
django-model-utils==2.3.1
django-nested-inline==0.3.5
django-oauth-toolkit==0.9.0
django-widget-tweaks==1.4.1
djangorestframework==3.2.3
docutils==0.12
EasyProcess==0.1.9
factory-boy==2.5.2
geoip2==2.2.0
Jinja2==2.8
jsonfield==1.0.3
MarkupSafe==0.23
maxminddb==1.2.0
oauthlib==1.0.1
parse==1.6.6
parse-type==0.3.4
Pillow==2.9.0
Pygments==2.0.2
PyJWT==1.4.0
python-social-auth==0.2.13
python3-openid==3.0.7
pytz==2015.4
PyVirtualDisplay==0.1.5
requests==2.7.0
requests-oauthlib==0.5.0
selenium==2.47.1
six==1.9.0
skyrocket==0.1
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
