{% extends "libreshop/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head_extension %}
<!-- Checkout CSS -->
<link href="{% static 'css/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->

<div id='checkout-progress' class='clearfix'>
  {% for i, step in steps %}
    <div class='pull-left'>
      {% if i == current_position %}
        {% if form.is_bound and not form.is_valid %}
          <p class='text-center text-danger'>{{ step.name }}</p>
          <img src="{% static 'images/error.png' %}" />
        {% else %}
          <p class='text-center'>{{ step.name }}</p>
          <img src="{% static 'images/current.png' %}" />
        {% endif %}
      {% elif i < current_position %}
        <p class='text-center text-success'>{{ step.name }}</p>
        <img src="{% static 'images/checked.png' %}" />
      {% else %}
        <p class='text-center text-muted'>{{ step.name }}</p>
        <img src="{% static 'images/circled.png' %}" />
      {% endif %}
    </div>
  {% endfor %}
  <div class='pull-right'>
    <div class='pull-left'>
      <h2>${{ subtotal }}</h2>
      <p>subtotal</p>
    </div>
    {% if shipping_cost %}
      <div class='pull-left'>
        <span class='fa fa-plus math'></span>
      </div>
      <div class='pull-left'>
        <h2>${{ shipping_cost }}</h2>
        <p>shipping</p>
      </div>
    {% endif %}
    {% if sales_tax %}
      <div class='pull-left'>
        <span class='fa fa-plus math'></span>
      </div>
      <div class='pull-left'>
        <h2>${{ sales_tax }}</h2>
        <p>sales tax</p>
      </div>
    {% endif %}
    {% if shipping_cost or sales_tax %}
      <div class='pull-left'>
        <span class='fa fa-arrow-right math'></span>
      </div>
      <div class='pull-left'>
        <h2>${{ total }}</h2>
        <p>total</p>
      </div>
    {% endif %}
  </div>
</div>

<h1>{{ description }}</h1>

<div class="jumbotron">

  <form method='POST' id='checkout'>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
      </div>
    {% endfor %}
    {% for field in form %}
      <div class='form-group'>
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
          </div>
        {% endfor %}
      {{ field.label_tag }}{{ field|add_class:"form-control" }}
      </div>
    {% endfor %}
    <button type='submit'>Submit</button>
  </form>
</div>

{% if client_token %}
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <script>
    braintree.setup("{{ client_token }}", "custom", {id: "checkout"});
  </script>
{% endif %}

{% endblock content %}
