{% extends "libreshop/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->

<div id='checkout-progress' class='clearfix'>
  {% for i, step in steps %}
  <div class='pull-left'>
    {% if i == current_position %}
    <p class='text-center'>{{ step.name }}</p>
    <img src="{% static 'images/current.png' %}" />
    {% elif i < current_position %}
    <p class='text-center text-success'>{{ step.name }}</p>
    <img src="{% static 'images/checked.png' %}" />
    {% else %}
    <p class='text-center text-muted'>{{ step.name }}</p>
    <img src="{% static 'images/circled.png' %}" />
    {% endif %}
  </div>
  {% endfor %}
</div>

<h1>{{ description }}</h1>

<div class="jumbotron">

  <form method='POST' id='checkout'>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
      </div>
    {% endfor %}
    {% for field in form %}
      <div class='form-group'>
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
          </div>
        {% endfor %}
      {{ field.label_tag }}{{ field|add_class:"form-control" }}
      </div>
    {% endfor %}
    <button type='submit'>Submit</button>
  </form>
</div>

{% if client_token %}
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <script>
    braintree.setup("{{ client_token }}", "custom", {id: "checkout"});
  </script>
{% endif %}

{% endblock content %}
