We received payment for LibreShop Order {{ order.token }}. Thanks for your business!

Questions? Contact us anytime at contact@libreshop.com!

--------------------------------------------
Receipt
--------------------------------------------
LIBRESHOP
GENERAL DELIVERY
TEST, TS  12345
(888) 99-LIBRE

--------------------------------------------
Purchase(s)
--------------------------------------------
{% for purchase in purchases %}{{ purchase.variant.name }} @ ${{ purchase.variant.price }}
{% endfor %}
--------------------------------------------
Taxes/Fees
---------------------------------------------
Sales Tax: ${{ order.sales_tax }}
Shipping:  ${{ order.shipping_cost }}

--------------------------------------------
Total
--------------------------------------------
${{ order.total }}

--------------------------------------------
Payment Amount
--------------------------------------------
${{ transaction.amount }}

--------------------------------------------
Payment Method
--------------------------------------------
{{ transaction.payment_card_type }} ending in -{{ transaction.payment_card_last_4 }}

--------------------------------------------
Transaction ID
--------------------------------------------
{{ transaction.transaction_id }}

--------------------------------------------
Transaction Date
--------------------------------------------
{{ transaction.created_at }} UTC

--------------------------------------------
Transaction Country
--------------------------------------------
{{ transaction.country }}

--------------------------------------------
Inquires
--------------------------------------------
Write to contact@libreshop.com
