--------------------------------------------
Receipt
--------------------------------------------
{{ company_name }}
{{ company_address }}
{{ company_phone }}

{{ company_suport_url }}
--------------------------------------------
--------------------------------------------
Transaction Date:
--------------------------------------------
MM/DD/YYYY HH:MI:SS (24H UTC)


--------------------------------------------
Transaction Country
--------------------------------------------
US


--------------------------------------------
Product(s)
--------------------------------------------
{{ products }}

--------------------------------------------
Payment amount
--------------------------------------------
{{ payment }}


--------------------------------------------
Total
--------------------------------------------
{{ total }}


--------------------------------------------
Payment Method
--------------------------------------------
{{ method }}


--------------------------------------------
Transaction ID
--------------------------------------------
{{ transaction_id }}


--------------------------------------------
For customer at
--------------------------------------------
{{ zip_code }}


--------------------------------------------
Serial Number
--------------------------------------------
{{ order_token }}


--------------------------------------------
Inquires
--------------------------------------------
{{ company_name }}


--------------------------------------------
{{ disclaimer }}
--------------------------------------------
