{% extends 'libreshop/base.html' %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="row">
{% if cart %}
  <div class="col-md-9">
{% else %}
  <div class="col-md-12">
{% endif %}

{% block products_content %}
{% endblock products_content %}

{% if cart %}
  <div class="col-md-3">
    <div class="jumbotron bill">
      <p>Your cart contains</p>
      <ul class='list-group'>
        {% for item in cart %}
          <li class='list-group-item'>
            <form action='/cart/remove/' method='POST'>
              {% csrf_token %}
              <p>
                <span>{{ item }}</span>
                <span>${{ item.price }}</span>
              </p>
              <input type='hidden' name='next' value='{{ request.path }}'>
              <input type='hidden' name='remove' value='{{ forloop.counter0 }}'>
              <button type='submit' class='close'>&times;</button>
            </form>
          </li>
        {% endfor %}
      </ul>
      <div>
        <p>Subtotal ({{ cart|length }} Item{% if cart|length > 1 %}s{% endif %}): ${{ cart.total }}</p>
      </div>
      <div>
        <a href='checkout' class='btn btn-primary center-block'>check out</a>
      </div>
    </div>
  </div>
{% endif %}
</div>
{% endblock content %}
