{% extends 'products/base.html' %}
{% load widget_tweaks %}

{% block products_content %}
    <div class="jumbotron">
      <div class="row">
        <div class='jumbotron-content col-md-4'>
          <div class='row'>
            <div class='col-md-12 center-block {% if product.featured_image %}thumbnails{% endif %}'>
              {% if product.featured_image and not cart %}
                <a href='{{ product.featured_image.url }}'>
                  <img src="{{ product.featured_image.thumbnail.285x400 }}" class="img-responsive img-rounded">
                </a>
              {% elif product.featured_image and cart %}
                <a href='{{ product.featured_image.url }}'>
                  <img src="{{ product.featured_image.thumbnail.400x500 }}" class="img-responsive img-rounded">
                </a>
              {% elif cart and not product.featured_image %}
                <img data-src="holder.js/285x400?bg=555555" class="img-responsive img-rounded">
              {% else %}
                <img data-src="holder.js/400x500?bg=555555" class="img-responsive img-rounded">
              {% endif %}
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 center-block thumbnails'>
              {% for image in product.images %}
                <a href='{{ image.url }}'>
                  <img src='{{ image.thumbnail.50x50 }}' class='img-responsive img-rounded'>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class='jumbotron-content col-md-6'>
          <h1 id='product-name'>{{ product.name }}</h1>
          <p>{{ product.description|safe }}</p>

          <form method='POST'>
          {% csrf_token %}
          {% for field in form %}
            <div class='form-group'>
              {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{ error }}
                </div>
              {% endfor %}
            {{ field.label_tag }}{{ field|add_class:'form-control' }}
            </div>
          {% endfor %}
            <div>
              <button type='submit' id='action-button' class='btn btn-lg btn-primary pull-right btn-xlarge'>Get One! &raquo;</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock products_content %}

{% block scripts %}

  <script>
    $(document).ready(function() {
      $('.thumbnails > a').click(function(event) {
        url = $(this).attr('href');
        $('body').prepend("<div class='overlay center-block'><img src='" + url + "' /></div>");

        $('.overlay').click(function(event) {
          $(this).unbind('click');
          $(this).remove();
        })

        event.preventDefault();
      });
    })
  </script>

{% endblock scripts %}
