{% extends "libreshop/base.html" %}
{% load widget_tweaks %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-5">
      <img data-src="holder.js/400x500?bg=555555" class="img-responsive">
    </div>
    <div id='jumbotron-content' class="col-md-7">
      <h1>Lorem Ipsum</h1>
      <p>dolor sit amet, solet legimus suscipit an vis. Nec autem soluta alienum ne, eos rationibus assueverit et. Has scripta oportere salutatus te, accusata temporibus ut duo, ei nisl mucius has.</p>
      <p>Ius case detracto ex, at perfecto perpetua neglegentur sed.</p>

      <form method='POST'>
      {% csrf_token %}
      {% for field in form %}
        <div class='form-group'>
        {{ field.errors }}
        {{ field.label_tag }}{{ field|add_class:"form-control" }}
        </div>
      {% endfor %}
        <div>
          <button type='submit' id='action-button' class='btn btn-lg btn-primary pull-right bottom-align btn-xlarge'>Get One! &raquo;</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}
