{% extends "libreshop/base.html" %}
{% load widget_tweaks %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="row">
{% if cart %}
  <div class="col-md-9">
{% else %}
  <div class="col-md-12">
{% endif %}
    <div class="jumbotron">
      <div class="row">
        <div class='jumbotron-content col-md-5'>
        {% if product.image %}
          <img src="{{ product.image.url }}" class="img-responsive">
        {% elif cart and not product.image %}
          <img data-src="holder.js/285x400?bg=555555" class="img-responsive">
        {% else %}
          <img data-src="holder.js/400x500?bg=555555" class="img-responsive">
        {% endif %}
        </div>
        <div class='jumbotron-content col-md-7'>
          <h1 id='product-name'>{{ product.name }}</h1>
          <p>{{ product.description }}</p>

          <form method='POST'>
          {% csrf_token %}
          {% for field in form %}
            <div class='form-group'>
              {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{ error }}
                </div>
              {% endfor %}
            {{ field.label_tag }}{{ field|add_class:"form-control" }}
            </div>
          {% endfor %}
            <div>
              <button type='submit' id='action-button' class='btn btn-lg btn-primary pull-right btn-xlarge'>Get One! &raquo;</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
{% if cart %}
  <div class="col-md-3">
    <div class="jumbotron bill">
      <p>Your cart contains</p>
      <ul class='list-group'>
        {% for item in cart %}
          <li class='list-group-item'>
            <form action='/cart/remove/' method='POST'>
              {% csrf_token %}
              <p>
                <span>{{ item }}</span>
                <span>{{ item.split_price.major_units }}</span>
                <span>{{ item.split_price.minor_units }}</span>
              </p>
              <input type='hidden' name='next' value='{{ request.path }}'>
              <input type='hidden' name='remove' value='{{ forloop.counter0 }}'>
              <button type='submit' class='close'>&times;</button>
            </form>
          </li>
        {% endfor %}
      </ul>
      <div>
        <p>Subtotal ({{cart|length}} Item{% if cart|length > 1 %}s{% endif %}): {{ total }}</p>
      </div>
      <div>
        <a href='checkout' class='btn btn-primary center-block'>check out</a>
      </div>
    </div>
  </div>
{% endif %}
</div>
{% endblock content %}
